<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron jumbotron-custom">
            <h1>Deadbolt</h1>
            <p>Deadbolt is a powerful, comprehensive authorization module for the Play framework.</p>
            <div>
                <h4><i class="fa fa-book"></i>This documentation is temporarily out of date for Deadbolt 2.4 onwards</h4>
                <p>You need to check out the book instead - you can find it at <a href="https://leanpub.com/deadbolt-2">https://leanpub.com/deadbolt-2</a></p>.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
        <h2>Java and Scala APIs</h2>
        <p>Deadbolt has idiomatic APIs for Java and Scala.</p>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <h2>Controller- and view-level auth</h2>
        <p>An extensible range of static and dynamic authorisations at the controller level.  Similarly, you can customise your UI based on a user's authorization levels.</p>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <h2>Plays well with others</h2>
        <p>Authentication support is pluggable - use your favourite tool to let users log in.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Repository</h3>
        <p>As of Deadbolt 2.3.2, you no longer need to add the Objectify repository as the artifacts are available via Maven Central.<p>

        <p>For versions prior to 2.3.2, Deadbolt is hosted in the Objectify repository. so you need to add the following to your Play
        <code>build.sbt</code>:
        <pre class="well">resolvers += Resolver.url("Objectify Play Repository", url("http://deadbolt.ws/releases/"))(Resolver.ivyStylePatterns)</pre></p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Which version should I use?</h3>

        <div>
            <label for="currentLanguage" id="currentLanguageLabel">Language:</label>
            <select ng-model="currentLanguage" ng-options="availableLanguage as availableLanguage.label for availableLanguage in availableLanguages" id="currentLanguage">
            </select>
        </div>
        <div>
            <label for="playVersion" id="playVersionLabel">Play version:</label>
            <select ng-model="currentPlayVersion" ng-options="availableVersion as availableVersion.label for availableVersion in availableVersions" id="playVersion">
            </select>
        </div>
        <div ng-repeat="javaVersion in javaVersions | filter:{playVersion:currentPlayVersion.value}:true" ng-if="currentLanguage.value == 'java' || currentLanguage.value == 'all'">
          <label>SBT dependency:</label>
          <pre class="code">"{{javaVersion.groupId}}" %% "{{javaVersion.artifactId}}" % "{{javaVersion.version}}"</pre>
        </div>
        <div ng-repeat="scalaVersion in scalaVersions | filter:{playVersion:currentPlayVersion.value}:true" ng-if="currentLanguage.value == 'scala' || currentLanguage.value == 'all'">
          <label>SBT dependency:</label>
          <pre class="code">"{{scalaVersion.groupId}}" %% "{{scalaVersion.artifactId}}" % "{{scalaVersion.version}}"</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <h3>Java build.sbt example</h3>

        <pre class="code">
name := """example-java-project"""

version := "1.0-SNAPSHOT"

lazy val root = (project in file(".")).enablePlugins(PlayJava)

scalaVersion := "2.11.1"

libraryDependencies ++= Seq(
  javaJdbc,
  javaEbean,
  cache,
  javaWs,
  // example version, use the "which version..." tool to determine the correct one
  "be.objectify" %% "deadbolt-java" % "2.3.3"
)

// For versions prior to 2.3.2, you need to add the Objectity repository
//resolvers += Resolver.url("Objectify Play Repository", url("http://deadbolt.ws/releases/"))(Resolver.ivyStylePatterns)
        </pre>
    </div>
    <div class="col-md-4">
        <h3>Scala build.sbt example</h3>

        <pre class="code">
name := """example-scala-project"""

version := "1.0-SNAPSHOT"

lazy val root = (project in file(".")).enablePlugins(PlayScala)

scalaVersion := "2.11.1"

libraryDependencies ++= Seq(
  jdbc,
  anorm,
  cache,
  ws,
  // example version, use the "which version..." tool to determine the correct one
  "be.objectify" %% "deadbolt-scala" % "2.3.3"
)

// For versions prior to 2.3.2, you need to add the Objectity repository
resolvers += Resolver.url("Objectify Play Repository", url("http://deadbolt.ws/releases/"))(Resolver.ivyStylePatterns)
        </pre>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <h2>Who's using Deadbolt?</h2>
    </div>
</div>
<div class="row" ng-repeat="userSubset in choppedUsers">
    <div class="col-md-1"></div>
    <div class="col-md-2 col-md-offset-1 centerText" ng-repeat="deadboltUser in userSubset">
        <a href="{{deadboltUser.url}}" target="_new"><h4 class="deadboltUserName">{{deadboltUser.name}}</h4></a>
        <a href="{{deadboltUser.url}}" target="_new"><img ng-src="{{deadboltUser.image}}" title="{{deadboltUser.name}}"/></a>
        <div>{{deadboltUser.description}}</div>
        <div><i class="fa fa-map-marker"></i> {{deadboltUser.location}}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <h4><i class="fa fa-bullhorn"></i> Are you using Deadbolt? Let me know at <strong>deadbolt@objectify.be</strong> and I'll list you here.</h4>
    </div>
</div>
</div>
