<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
        <div class="well panel panel-default">
            <div class="panel-heading">Configuration</div>
            <div class="panel-body">
                <ul>
                    <li><a href="#dependencies">Dependencies</a></li>
                </ul>
            </div>

            <div class="panel-heading">Controllers</div>
            <div class="panel-body">
                <ul>
                    <li><a href="#controller-SubjectPresent">SubjectPresent</a></li>
                    <li><a href="#controller-SubjectNotPresent">SubjectNotPresent</a></li>
                    <li><a href="#controller-Restrict">Restrict</a></li>
                    <li><a href="#controller-Restrictions">Restrictions</a></li>
                    <li><a href="#controller-Dynamic">Dynamic</a></li>
                    <li><a href="#controller-Pattern">Pattern</a></li>
                </ul>
            </div>

            <div class="panel-heading">Templates</div>
            <div class="panel-body">
                <ul>
                    <li><a href="#template-subjectPresent">@subjectPresent</a></li>
                    <li><a href="#template-subjectNotPresent">@subjectNotPresent</a></li>
                    <li><a href="#template-restrict">@restrict</a></li>
                    <li><a href="#template-restrictions">@restrictions</a></li>
                    <li><a href="#template-dynamic">@dynamic</a></li>
                    <li><a href="#template-pattern">@pattern</a></li>
                </ul>
            </div>

            <div class="panel-heading">Miscellaneous</div>
            <div class="panel-body">
                <ul>
                    <li><a href="#why-no-unrestricted">Why u no have Unrestricted?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10">
      <p>Scala documentation here</p>
  </div>
</div>
</div>
